body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 2em;
    color: #d32f2f;
    text-shadow: 2px 2px 0 #fff,
                 4px 4px 0 #FF69B4,
                 6px 6px 0 #FFD700;
    transition: 0.3s;
    letter-spacing: 1px;
}

.header_text:hover {
    transform: scale(1.05);
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
    margin-top: 20px;
}